.App {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding: 10 10 10 10;
}

.Container {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.margin {
  margin: 0px 2px 0px 2px;
}
